/* 头部标题区域 */
.position {
  position: relative;
  width: 100vw;
  height: 550px;

  &_bg {
    position: absolute;
    z-index: -1;
    top: 0;
    width: inherit;
    height: inherit;
  }

  &_title {
    padding-top: 112px;

    &_img {
      width: 120px;
      height: 130px;
    }

    &_text {
      margin-top: 40px;
      font-size: 40px;
      font-weight: bold;
      color: #FFFFFF;
    }
  }
}

/* 登录表单区域 */
.login {
  width: 90vw;
  margin: 0 5vw;
  padding: 30px;
  box-sizing: border-box;
  background: #fff;
  font-size: 32px;
  //box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);

  &_form {
    width: 100%;

    &_acount {
      width: inherit;

      image {
        width: 20px;
        height: 32px;
      }

      &_box {
        width: calc(100% - 40px);
        margin-left: 20px;
        height: 80px;

        input {
          flex: 6;
          min-width: 0px;
          font-size: 28px;
        }

        image {
          padding: 4px 0px 4px 20px;
          width: 32px;
          height: 32px;
        }
      }
    }

    &_password {
      width: inherit;


      image {
        width: 26px;
        height: 32px;
      }

      &_box {
        width: calc(100% - 40px);
        margin-left: 20px;
        height: 80px;

        input {
          flex: 6;
          min-width: 0px;
          font-size: 28px;
        }

        image {
          padding: 10px 0px 10px 20px;
          width: 32px;
          height: 32px;
        }
      }
    }
  }

  &_btn {
    margin-top: 42px;

    button {
      background: linear-gradient(to right, #2b8bfa, #6fc6ff);
      font-size: 30px;
      color: #fff;
      font-weight: bold;
      border-radius: 37px;
    }
  }

  &_password {
    margin-top: 32px;
    font-size: 22px;
    //color: #8B8B8B;

    &_remeber {
      image {
        width: 26px;
        height: 26px;
      }

      &_unimg {
        width: 22px;
        height: 22px;
        border: solid 2px #8B8B8B;
      }

      &_text {
        margin-left: 20px;

      }
    }

    &_forget{
      color: #8B8B8B;
    }
  }

  &_line {
    margin-top: 20px;

    &_1 {
      height: 1px;
      border: solid 0.5px #DADADA;
      flex: 3;
      min-width: 0px;
    }

    &_text {
      flex: 1.5;
      min-width: 0px;
      font-size: 30px;
      color: #1575F6;
    }
  }

  &_regbtn {
    margin-top: 40px;

    button {
      font-size: 30px;
      height: 76px;
      color: #1575F6;
      font-weight: bold;
      border-radius: 37px;
      border-color: #1575F6;
    }
  }
}

.remeberPass_color{
  color: #1575F6;
}


.unremeberPass_color{
  color: #8B8B8B;
}
